
.ocultar{
    display: none;

}

#img
{
    max-width: 320px;
    min-height: 544px;
    max-height: 544px;
}


.pantallas
{
    max-width: 320px;
    min-height: 544px;
    max-height: 544px;
    margin:0px;
}

#barraCarga
{
    position: relative;
    top: -40px;
    padding: 0px;
    margin: 0px;
}

span
{
    left: -50%;
}