/*codigo general*/
.ocultar{
    display: none;

}

#img
{
    max-width: 320px;
    min-height: 544px;
    max-height: 544px;
}

.pantallas
{
    max-width: 320px;
    min-height: 544px;
    max-height: 544px;
    margin:0px;
}
/*Splash screen*/
#PantallaSplash
{
   margin-bottom: -18px;
}
    
#barraCarga
{
    position: relative;
    top: -40px;
    padding: 0px;
    margin: 0px;
}

/*Pantalla inicio*/
#inicioRapido
{
    position: absolute;
    top: 500px;
    left: 100px;
    max-width: 110px;
}

#btnRegistrar
{
    position: absolute;
    top: 460px;
    left: 30px;
    max-width: 120px;
}

#btnIniciar
{
    position: absolute;
    top: 460px;
    left: 170px;
    max-width: 120px;
}

#mensajeInicio
{
    position: absolute;
    top: 308px;
    left: 79px;
    max-width: 160px;
}
#inicioLogo
{
    position: absolute;
    top: 100px;
    left: 69px;
    max-width: 200px;
}

/*Pantalla Bienvenido*/
#BienvenidoTitulo
{
    position: absolute;
    top: 40px;
    left: 20px;
    max-width: 283px;
}

#BienvenidoTexto
{
    position: absolute;
    left: 0px;
    top: 193px;
    max-width: 320px;
}

#BienvenidoComenzar
{
    position: absolute;
    left: 45px;
    max-width: 230px;
    top: 400px;
}

/*Pantalla Principal*/
#btnEvento
{
    position: absolute;
    top: 9px;
    left: 280px;
    max-width: 25px;
}

#btnPerfil
{
    position: absolute;
    top: 9px;
    left: 9px;
    max-width: 25px;
}

#btnLogo
{
    position: absolute;
    top: 9px;
    left: 150px;
    max-width: 33px;
}

#TextoRutina
{
    position: absolute;
    left: 190px;
    max-width: 100px;
    top: 71px;
}

#textoEjercicio
{
    position: absolute;
    top: 71px;
    left: 30px;
    max-width: 100px;
}
#barraSeleccion
{
    position: absolute;
    top: 89px;
    left: 0px;
    max-width: 160px;
}

#imgReto
{
    position: absolute;
    left: 0px;
    top: 120px;
    max-width: 320px;
}

#textoReto
{
    position: absolute;
    left: 0px;
    max-width: 320px;
    top: 261px;
}



#lineaSeparacion
{
    position: absolute;
    top: 494px;
    left: 0px;
    max-width: 320px;
}

#btnReto
{
    position: absolute;
    top: 505px;
    left: 280px;
    max-width: 25px;
}

#btnActividad
{
    position: absolute;
    top: 505px;
    left: 9px;
    max-width: 25px;
}

#btnPrincipal
{
    position: absolute;
    top: 505px;
    left: 148px;
    max-width: 25px;
}
/**/
.menu .boton{
    background-color: #0645aa;
    border: 1px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 40px;
    border-radius: 8px;
}

.menu .boton:not(:last-child) {
    border-right: none; 
}

.menu .boton:hover {
    background-color: #3474db;
}